# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files
model/
*.pkl

# Output graphs
outputs/

# Uploads
static/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db